<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>Main</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 > Main dashboard </h1>
      <h3>
      <span>Welcome </span>
      <span th:text="${user.getName()}"> User Name </span>
      </br>
      <span>Balance </span>
      <span th:text="${user.getBalance()}"> User balance </span>
      </h3>
      <a class="btn btn-warning" href="#" th:href="@{/balance}"> Balance details </a>
    </div>
  </div>
  <form th:action="@{/logout}" th:method="POST">
    <input class="btn btn-info" type="submit" value="Logout">
  </form>

</div>
</body>
</html>